/* google font link  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;900&display=swap");
/* shared style  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
:root {
  --primary-color: #ff42a5;
  --secondary-color: #0b0223;
  --text-color: #3c354f;
  --white-color: #fff;
}
.gradient-color {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title-color {
  color: var(--secondary-color);
}
.text-color {
  color: var(--text-color);
}
.primary-color {
  color: var(--primary-color);
}
.center {
  text-align: center;
}
.container {
  max-width: 1440px;
  padding: 10px 100px;
  margin: 0 auto;
}
.btn-primary,
.btn-secondary {
  padding: 20px 40px;
  border-radius: 48px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 0;
  cursor: pointer;
  font-weight: bold;
  margin-right: 20px;
  transition: 0.2s all ease;
}
.btn-secondary {
  background-color: #4ec5f7;
}
.btn-primary:hover,
.btn-secondary:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.text-title {
  font-size: 3rem;
  font-weight: 700;
}

/* nav style start */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav .logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--secondary-color);
}
.logo img {
  width: 100%;
  margin-right: 20px;
}
.logo span {
  color: var(--primary-color);
}

nav ul {
  display: flex;
  align-items: center;
}
nav ul a {
  text-decoration: none;
  color: var(--text-color);
}
nav ul li {
  list-style: none;
  margin-right: 20px;
}

nav ul li {
  display: flex;
  align-items: center;
}
nav ul li a {
  margin-left: 1rem;
}
nav ul li:nth-child(3) {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 5px 10px;
}
/* nav style end */

/* banner style start */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content {
  flex-basis: 50%;
}
.banner-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}
.goat {
  text-align: center;
  font-size: 6rem;
  font-weight: 800;
  text-transform: uppercase;
}
.banner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.banner-content li {
  list-style: none;
  margin-bottom: 0.9rem;
  display: flex;
  align-items: center;
}
.banner-content li img {
  margin-right: 10px;
}
.banner-img {
  flex-basis: 50%;
}
.banner-img img {
  width: 100%;
}
/* banner style end */

/* gamer section style start */
.gamer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gamer-img {
  flex-basis: 50%;
}
.gamer-img img {
  width: 100%;
}
.gamer-content {
  flex-basis: 50%;
  text-align: right;
}
.gamer-content p {
  color: var(--text-color);
  line-height: 30px;
  margin-bottom: 20px;
}
/* gamer section style end */

/* online game style start */
.online-game-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 30px;
}
.online-game-container span img {
  width: 100%;
  transition: 0.2s transform;
}
.online-game-container img:hover {
  transform: scale(20px);
}
.card {
  cursor: pointer;
  position: relative;
}
.card-body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 16px;
  border: 1px solid var(--primary-color);
  background: #00000081;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.3s all ease;
}
.card-body:hover {
  opacity: 1;
}
.card-body img {
  width: 48px;
  height: 48px;
  margin-bottom: 16px;
}
/* online game style end */

/* online play style start */
.online-play-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  overflow: hidden;
}
.online-play-img-container {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.online-play-img-container > div {
  position: relative;
}
.bigimg {
  width: calc(100% - 20%);
}
.smallimg {
  position: absolute;
  width: 220px;
  height: 220px;
  bottom: -50px;
  right: 10%;
}
.online-play-content {
  flex-basis: 50%;
}
/* online play style end */

/* responsive for mobile device */
@media screen and (max-width: 767px) {
  .container {
    padding: 10px;
  }
  .center {
    margin-top: 15px;
  }
  .btn-primary,
  .btn-secondary {
    padding: 15px 25px;
  }
  .text-title {
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
  }

  nav {
    flex-direction: column;
    padding: 10px 0;
  }
  .logo {
    margin-bottom: 20px;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul a {
    margin-bottom: 20px;
  }
  .social {
    margin: 0 10px;
  }
  .banner {
    flex-direction: column-reverse;
    margin-top: 50px;
  }
  .banner-img {
    margin-bottom: 30px;
  }
  .banner-title {
    font-size: 2rem;
  }
  .goat {
    font-size: 4rem;
  }
  .gamer-section {
    flex-direction: column;
  }
  .gamer-content {
    text-align: center;
  }
  .online-game-container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 30px;
  }

  .online-game-container span p {
    margin-top: 20px;
  }
  .online-play-section{
    flex-direction: column;
    padding: 100px 0;
  }
  .bigimg{
    width: calc(100% - 20%);
  }
  .smallimg{
    width: 120px;
    height: 120px;
    bottom: -10%;
    right: 10%;
  }
}

/* responsive for medium device
@media screen and (min-width: 576px) and (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .btn-primary,.btn-secondary{
    padding: 15px 25px;
  }
  .text-title{
    font-size: 2.5rem;
    text-align: center;
  }
  nav {
    flex-direction: column;
    padding: 10px 0;
  }
  .logo {
    margin-bottom: 20px;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul a {
    margin-bottom: 20px;
  }
  .social {
    margin: 0 10px;
  }
  .banner {
    flex-direction: column-reverse;
    margin-top: 50px;
  }
  .banner-img {
    margin-bottom: 30px;
  }
  .gamer-section{
    flex-direction: column;
  }
  .gamer-content{
    text-align: center;
  }

} */
/* responsive for tablet device */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    padding: 10px 30px;
  }
  .btn-primary,
  .btn-secondary {
    padding: 15px 25px;
  }
  nav ul li {
    margin-right: 15px;
  }
  .gamer-content p {
    line-height: normal;
    font-size: 1rem;
  }
  .online-game-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .bigimg{
    width: calc(100% - 20%);
  }
  .smallimg{
    width: 120px;
    height: 120px;
    bottom: -10%;
    right: 10%;
  }
}
