/* google font link  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;900&display=swap");
/* shared style  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
:root {
  --primary-color: #ff42a5;
  --secondary-color: #0b0223;
  --text-color: #3c354f;
  --white-color: #fff;
}
.gradient-color {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-color {
  color: var(--secondary-color);
}
.container {
  max-width: 1440px;
  padding: 10px 100px;
  margin: 0 auto;
}
.btn-primary,.btn-secondary {
  padding: 20px 40px;
  border-radius: 48px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 0;
  cursor: pointer;
  font-weight: bold;
  margin-right: 20px;
  transition: .2s all ease;
}
.btn-secondary {
  background-color: #4ec5f7;
}
.btn-primary:hover, .btn-secondary:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.text-title{
    font-size: 3rem;
    font-weight: 700;
    text-align: right;
}

/* nav style start */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav .logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--secondary-color);
}
.logo img {
  width: 100%;
  margin-right: 20px;
}
.logo span {
  color: var(--primary-color);
}

nav ul {
  display: flex;
  align-items: center;
}
nav ul a {
  text-decoration: none;
  color: var(--text-color);
}
nav ul li {
  list-style: none;
  margin-right: 20px;
}

nav ul li {
  display: flex;
  align-items: center;
}
nav ul li a {
  margin-left: 1rem;
}
nav ul li:nth-child(3) {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 5px 10px;
}
/* nav style end */

/* banner style start */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content {
  flex-basis: 50%;
}
.banner-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}
.goat {
  text-align: center;
  font-size: 6rem;
  font-weight: 800;
  text-transform: uppercase;
}
.banner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.banner-content li {
  list-style: none;
  margin-bottom: 0.9rem;
  display: flex;
  align-items: center;
}
.banner-content li img {
  margin-right: 10px;
}
.banner-img {
  flex-basis: 50%;
}
.banner-img img {
  width: 100%;
}
/* banner style end */

/* gamer section style start */
.gamer-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gamer-img{
    flex-basis: 50%;
}
.gamer-img img{
    width: 100%;
}
.gamer-content{
    flex-basis: 50%;
    text-align: right;
}
.gamer-content p{
    color: var(--text-color);
    line-height: 30px;
    margin-bottom: 20px;
}
/* gamer section style end */



























/* responsive for mobile device */
@media screen and (max-width: 576px) {
  .container {
    padding: 10px;
  }
  .btn-primary,.btn-secondary{
    padding: 15px 25px;
  }
  .text-title{
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
  }

  nav {
    flex-direction: column;
    padding: 10px 0;
  }
  .logo {
    margin-bottom: 20px;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul a {
    margin-bottom: 20px;
  }
  .social {
    margin: 0 10px;
  }
  .banner {
    flex-direction: column-reverse;
    margin-top: 50px;
  }
  .banner-img {
    margin-bottom: 30px;
  }
  .banner-title{
    font-size: 2rem;
  }
  .goat{
    font-size: 4rem;
  }
  .gamer-section{
    flex-direction: column;
  }
  .gamer-content{
    text-align: center;
  }
}

/* responsive for medium device */
@media screen and (min-width: 576px) and (max-width: 760px) {
  .container {
    padding: 10px;
  }
  .btn-primary,.btn-secondary{
    padding: 15px 25px;
  }
  .text-title{
    font-size: 2.5rem;
    text-align: center;
  }
  nav {
    flex-direction: column;
    padding: 10px 0;
  }
  .logo {
    margin-bottom: 20px;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul a {
    margin-bottom: 20px;
  }
  .social {
    margin: 0 10px;
  }
  .banner {
    flex-direction: column-reverse;
    margin-top: 50px;
  }
  .banner-img {
    margin-bottom: 30px;
  }
  .gamer-section{
    flex-direction: column;
  }
  .gamer-content{
    text-align: center;
  }
}
/* responsive for tablet device */
@media screen and (min-width: 760px) and (max-width: 992px) {
    .container{
        padding: 10px 30px;
    }
    .btn-primary,.btn-secondary{
        padding: 15px 25px;
      }
  nav ul li {
    margin-right: 15px;
  }
  .gamer-content p{
    line-height: normal;
    font-size: 1rem;
  }
}
